
.navbar{
    display: flex;
    justify-content: space-between;
}

.link{
    text-transform: capitalize;
    &:hover,
    &:active,
    &:focus,
    &.active{
        color: red;
    }
}

.sidenav{
    display: flex;
    flex-direction: column;
}

@media(min-width:900px){
    .menuBtn, mat-sidenav{
        display: none;
    }
}

@media(max-width:900px){
    .navLinks{
        display: none;
    }
}